<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (01/25/2022, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [3]:
# write your answer here

# using len() function we can find the lengh of a string

def lengthofString(samplestring):
  stringLength = len(samplestring)
  return stringLength

In [4]:
lengthofString("Exercise")

8

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [13]:
# write your answer here
import collections

def countNumberOfCharctersinAString(sampleString):
  count = collections.Counter(sampleString)
  repeated = {}
  for key, value in count.items():
    repeated[key] = value
  return repeated

In [14]:
counterDict = countNumberOfCharctersinAString("google.com")
print(counterDict)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [16]:
# write your answer here

def sumListOfItems(sampleList):
  return sum(sampleList)

In [18]:
sumListOfItems([1,2,3,4, 10])

20

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [24]:
# write your answer here
def replaceCharater(samplestring):
  char = samplestring[0]
  samplestring = samplestring.replace(char, '$')
  samplestring = char + samplestring[1:]
  return samplestring

In [25]:
replaceCharater('restart')

'resta$t'

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [30]:
# write your answer here

def calculateS(a, b):
  result = 1 + (a / b)
  s = 3.14 * (result ** 3)
  return s

In [32]:
calculateS(2,5)

8.616159999999999

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [35]:
# write your answer here
def concatDict(listOfDict):
  result = {}
  for dic in listOfDict:
    result.update(dic)
  return result

In [37]:
concatDict([{1:10, 2:20}, {3:30, 4:40}, {5:50,6:60}])

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [38]:
# write your answer here

def elementExistsInATuple(sampleTuple, element):
  return element in sampleTuple

In [39]:
elementExistsInATuple((2,4,'r','t','y'), 5)

False

In [40]:
elementExistsInATuple((2,4,'r','t','y'), 'y')

True

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [49]:
# write your answer here

def findMaxandMin(sampleSet):
  maxi = max(sampleSet)
  mini = min(sampleSet)
  return {"MaximumValue": maxi, 
          "MinimumValue": mini}

In [51]:
findMaxandMin({2,4,5,6,7,9,-1,100})

{'MaximumValue': 100, 'MinimumValue': -1}

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [115]:
# write your answer here
import random
from itertools import islice

randomNumbers=[]
studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 
                'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609',
                'ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

while(len(randomNumbers) < 6):
  randomNumber = random.randint(4,6)
  randomNumbers.append(randomNumber)

random.shuffle(studnet_list)
Inputt = iter(studnet_list)
Output = [list(islice(Inputt, elem))
          for elem in randomNumbers]

In [116]:
Output

[['ak0956', 'av0659', 'sb1357', 'sm1907', 'ak0934', 'jl1252'],
 ['gn0108', 'aos0040', 'sa1198', 'dr0609', 'nv0234'],
 ['vm0377', 'vb0218', 'sc1229', 'sk1390'],
 ['bg0320', 'sk1313', 'fh0141', 'sm1640', 'nm0618', 'sk1458'],
 ['ja0964', 'ms1500', 'pr0353', 'kg0569'],
 ['sk1386', 'kg0470', 'hy0232', 'sg1297', 'ds0814']]

(10) Write a Python program to find the duplicate elements in a given array 

---

of integers. Return -1 If there are no such elements. (4 points)

In [99]:
# write your answer here

from collections import Counter

def findDuplicate(samplelist):
  d = Counter(samplelist)
  new_list = list([item for item in d if d[item]>1])
  if len(new_list) == 0:
    return -1
  return new_list

In [100]:
findDuplicate([1,2,3,4])

-1

In [101]:
findDuplicate([1,2,1,2,3])

[1, 2]

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [110]:
import pandas as pd

def fecthAlldaysIna(year, day):
  start = year + "-01-01"
  periods = 52
  freq = "W-" + day
  days = pd.Series(pd.date_range(start = start,
                               periods = periods,
                               freq = freq))
  
  return days

In [ ]:
fecthAlldaysIna('2020', "SUN")