**Question1: Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out**

In [528]:
import random

def generateRandomNumbers():
  numberList = random.sample(range(1, 100), 12)
  return numberList

def sort(numbers, type):
  if type is "ASC":
    print(sorted(numbers))
  elif type is "DSC":
    print(sorted(numbers, reverse=True))

# **Random Number List**

In [529]:
numberList = generateRandomNumbers()
print(numberList)

[80, 66, 84, 7, 91, 98, 94, 85, 45, 26, 37, 97]

# **Sort by Asscending**

In [530]:
sort(numberList, "ASC")

[7, 26, 37, 45, 66, 80, 84, 85, 91, 94, 97, 98]

# **Sort By Descending**

In [32]:
sort(numberList, "DSC")

[94, 91, 89, 81, 65, 55, 43, 41, 38, 37, 28, 27]

Question 2: Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(‚Äú.‚Äù), comma (‚Äú,‚Äù), semicolon (‚Äú;‚Äù), and colon (‚Äú:‚Äù)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [531]:
import re

#Q1:
def takeInputs():
  sentence = []
  for _ in range(0, 2):
    print("Enter your sentence one:::")
    sentence.append(input())
  return sentence

#Q2:
def separateIntoList(sent_list):
  updatedList = []
  for sentence in sent_list:
    sent = re.findall(r"[\w']+|[.,!?;#@]", sentence)
    updatedList.append(sent)
  return updatedList

#Q3:
def getCommonWords(updatedList):
  commonWords = set(updatedList[0]) & set(updatedList[1])
  return commonWords

#Q4:

def removePunctuations(sentence):
  print(re.sub(r'[^\w\s]', '', sentence))

#Q5
def countVowels(sentence):
  sentence_lowercase = sentence.lower()
  vowels = {}
  for v in "aeiou":                        
    cnt_of_vowels_in_sent = sentence_lowercase.count(v)
    vowels[v] = cnt_of_vowels_in_sent
  print(vowels)

In [532]:
sent_list = takeInputs()
print(sent_list[0])
print(sent_list[1])

Enter your sentence one:::
Alas! Am I alive? This is my first python program
Enter your sentence one:::
Computation methods is my fav course
Alas! Am I alive? This is my first python program
Computation methods is my fav course

In [533]:
updatedList = separateIntoList(sent_list)
print(updatedList[0])
print(updatedList[1])

['Alas', '!', 'Am', 'I', 'alive', '?', 'This', 'is', 'my', 'first', 'python', 'program']
['Computation', 'methods', 'is', 'my', 'fav', 'course']

In [534]:
commonWords = getCommonWords(updatedList)
print(commonWords)

{'is', 'my'}

In [535]:
removePunctuations('Bhanuprasad8648@gmail.com')

Bhanuprasad8648gmailcom

In [536]:
countVowels(sent_list[0])

{'a': 5, 'e': 1, 'i': 5, 'o': 2, 'u': 0}

# **The formula that describes the volume V of a sphere with radius r is the following:**

# **ùëâ=4/3‚àó ùúã‚àó ùëü3 **
# **Write a program to calculate the value of V when r is in the range of 1‚Äì10. Output the result in the following format:**

In [537]:
def volume_of_sphere(radius):
  return (4/3)*(3.1415)*(radius**3)

def calculaternage(lowerlimit, upperLimit):
  print("r\t\tV")
  for radius in range(lowerlimit, upperLimit + 1):
    print("%d\t\t%.3f"%(radius,volume_of_sphere(radius)))

In [538]:
calculaternage(1, 10)

r		V
1		4.189
2		33.509
3		113.094
4		268.075
5		523.583
6		904.752
7		1436.713
8		2144.597
9		3053.538
10		4188.667

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file Assignment1_denton_housing.csv included with this assignment. The file Assignment1_denton_housing.csv contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units


(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----



(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [539]:
import pandas as pd
import statistics
pd.options.mode.chained_assignment = None 

#Q1:

def readCSV(filepath):
  df = pd.read_csv(filepath)
  return df

def differenceOfccupiedHousing(df):
  df['year'] = pd.to_datetime(df['year'],format='%Y')
  df['year'] = df['year'].dt.year
  df1 = df[df['title_field'] == 'Occupied Housing Units'] 
  df1.sort_values(by=['year'], ascending=True, inplace=True)
  df1['Difference'] = df1['value'].diff()
  diffList = getDiifeYear(df1['year'].values.tolist())
  df1.dropna(inplace=True)
  df1['Year Difference'] = diffList
  df2 = df1.iloc[:, -2:] 
  df2 = df2[['Year Difference', 'Difference']]
  df2.reset_index(drop=True, inplace=True)
  print(df2)

def getDiifeYear(yearList):
  combinedList = []
  yearList1 = yearList[1:]
  for year1, year2 in zip(yearList, yearList1):
    combinedList.append(str(year1) + '-' + str(year2))
  return combinedList


#Q2:

def calculatevacantandOccupied(df):
  yearvalues = sorted(list(set(df['year'].values.tolist())), reverse = True)
  totalHosuingValues = df[df['title_field'] == 'Total Housing Units']['value'].tolist()
  vacantHousingValues = df[df['title_field'] == 'Vacant Housing Units']['value'].tolist()
  occupiedHousingValues = df[df['title_field'] == 'Occupied Housing Units']['value'].tolist()
  vacantPercentageList = [str((vacant / total) * 100) + "%" for vacant, total in zip(vacantHousingValues, totalHosuingValues)]
  occupiedpercentageList = [str((occupied / total) * 100) + "%"  for occupied, total in zip(occupiedHousingValues, totalHosuingValues)]
  df = pd.DataFrame({'Year': yearvalues,
                     'Vacant Housing Units': vacantPercentageList,
                     'Occupied Housing Units': occupiedpercentageList})
  print(df)


# Q3:

def highestNumberOfVacantandOccupied(df):
  vacantTuple = getYearandMaxValue(df,'Vacant Housing Units')
  occupiedTuple = getYearandMaxValue(df,'Occupied Housing Units')
  df = pd.DataFrame({'Title': ['Vacant Housing Units', 'Occupied Housing Units'],
                     'Year' : [vacantTuple[0], occupiedTuple[0]],
                      'Value': [vacantTuple[1], occupiedTuple[1]]
                     })
  df.set_index('Title')
  print(df)

def getYearandMaxValue(df, columnsName):
  df1 = df[df['title_field'] == columnsName]
  max = df1['value'].max()
  year = df1[df1['value'] == max]['year'].values[0]
  return year, max


#Q4:

def calculateHarmonicMean(df):
  totalHousingValues = df[df['title_field'] == 'Total Housing Units']['value'].tolist()
  harmonicMean = statistics.harmonic_mean(totalHousingValues)
  print(f"The harmonic mean of the total housing units is {harmonicMean}")

In [540]:
df = readCSV('/content/sample_data/Assignment1_denton_housing.csv')
df.head()

   year             title_field  value
0  2014     Total Housing Units  49109
1  2014    Vacant Housing Units   2814
2  2014  Occupied Housing Units  46295
3  2013     Total Housing Units  47888
4  2013    Vacant Housing Units   4215

In [541]:
#Q1
differenceOfccupiedHousing(df)

  Year Difference  Difference
0       2008-2009      -795.0
1       2009-2010      5091.0
2       2010-2011      -303.0
3       2011-2012      1404.0
4       2012-2013      1565.0
5       2013-2014      2622.0

In [543]:
#Q2:
calculatevacantandOccupied(df)

   Year Vacant Housing Units Occupied Housing Units
0  2014   5.730110570363885%     94.26988942963611%
1  2013   8.801787504176412%     91.19821249582358%
2  2012   6.677600230491346%     93.32239976950866%
3  2011   9.379522229890688%      90.6204777701093%
4  2010   8.142556337081672%     91.85744366291833%
5  2009    9.07111572444872%     90.92888427555128%
6  2008   10.88265281351653%     89.11734718648347%

In [544]:
highestNumberOfVacantandOccupied(df)

                    Title  Year  Value
0    Vacant Housing Units  2008   4483
1  Occupied Housing Units  2014  46295

In [545]:
calculateHarmonicMean(df)

The harmonic mean of the total housing units is 44398.28543969185